<div>
    <h3>Hola, {{firstName}}</h3>
    <a href="/logout">cerrar sesion</a>
    <a href="/carts/{{cartID}}">ver carrito</a>
    <h1>maceta</h1>
    <p>Tienda de ceramica</p>
    <hr>
    <a href="/products">ver todos los productos disponibles</a>
    <div>
        <h2>shop</h2>
        {{{title}}}
        <div>
        {{#each products}}
        <ul>
            <b><li>{{this.title}}</li></b>
            <li>{{this.description}}</li>
            <li>{{this.price}}</li>
        </ul>
        <button class="add-product">add to cart</button>
        </div>
        {{/each}}
    </div>
</div>