<div>
    <h3>Hola, {{this.firstName}}</h3>
    <a href="/logout">cerrar sesion</a>
    <p>carrito: {{this.cartId}}</p>
    <p>{{firstName}}</p>
    <h1>maceta</h1>
    <p>Tienda de ceramica</p>
    <hr>
    <div>
        <h2>shop</h2>
        {{{title}}}
        <div>
        {{#each productos}}
        <ul>
            <b><li>{{this.title}}</li></b>
            <li>{{this.description}}</li>
            <li>{{this.price}}</li>
        </ul>
        <button>add to cart</button>
        </div>
        {{/each}}
    </div>
</div>